@charset "utf-8";
/* CSS Document */

body{
    background-color: #FFF8D7;
}

#wrapper{
    background: url(img/monkey_trans.png) repeat fixed;
    background-size: 30%;
    height: 10000px;
    padding-top: 100px;
}

#couplet_left{
    background: url(img/couplet_left.jpg) no-repeat;
    background-position: top right;
    background-size: 90%;
    height: 10000px;
}

#couplet_right{
    background: url(img/couplet_right.jpg) no-repeat;
    background-position: top left;
    background-size: 90%;
    height: 10000px;
}